<div class="container search">
    <%= form_tag('search', :method => "get", id: "search-form") do %>
    <div class="row">
        <div class="col-xs-11">
            <%= text_field_tag :search, params[:search], placeholder: "Search User", class: "form-control" %>
        </div>
        <div class="col-xs-1">
            <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>
<table class="table table-striped">
    <tbody>
        <% @users.each do |user|%>
        <tr>
            <td>
                <%= link_to controller: "friends", action: "show" do %>
                <%= user %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
