<header role="banner">
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div>
                <%= link_to root_path, class: 'navbar-brand black' do %>
                HOME
                <% end %>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-primary-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to friends_path, class: 'nav-link' do %>
                        <div class="black">FRIENDS</div>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to 'friend_requests', class: 'nav-link' do %>
                        <div class="black">FRIEND REQUESTS</div>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to 'friends/search', class: 'nav-link' do %>
                        <div class="black">SEARCH</div>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to destroy_user_session_path, class: 'nav-link', :method => :delete do %>
                        <div class="black">LOGOUT</div>
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_session_path, class: 'nav-link' do %>
                        <div class="black">LOGIN</div>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_registration_path, class: 'nav-link' do %>
                        <div class="black">SIGN UP</div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>
